@import url("https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800");

html {
	font-size: 62.5%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	font-size-adjust: 100%
}

html,
body {
	height: 100%
}

* {
	box-sizing: border-box;
	/* font-family: "Noto Sans Cherokee", sans-serif;
	font-family: "Open Sans", sans-serif;
	font-family: "Roboto", sans-serif;
	font-family: "Source Sans Pro", sans-serif; */
	font: normal 300 1.4rem/1.86 "Poppins", sans-serif;
	color: #666;
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;

	/* All colors */
	--blue: #007bff;
	--indigo: #6610f2;
	--purple: #6f42c1;
	--pink: #e83e8c;
	--red: #dc3545;
	--orange: #fd7e14;
	--yellow: #ffc107;
	--green: #28a745;
	--teal: #20c997;
	--cyan: #17a2b8;
	--white: #fff;
	--gray: #6c757d;
	--gray-dark: #343a40;
	--primary: #007bff;
	--secondary: #6c757d;
	--success: #28a745;
	--info: #17a2b8;
	--warning: #ffc107;
	--danger: #dc3545;
	--light: #f8f9fa;
	--dark: #343a40;
	--lightyellow: #c96;
	/* All colors */
}

body {
	font: normal 300 1.4rem/1.86 "Poppins", sans-serif;
	color: #666;
	background-color: var(--white);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden
}

/* Server Fonts Poppins*/
@font-face {
	font-family: "Poppins";
	src: url("fonts/Poppins-Bold.ttf"), url("fonts/Poppins-ExtraLight.ttf"), url("fonts/Poppins-Regular.ttf"), url("fonts/Poppins-Light.ttf");
}

.container {

	padding-left: 10px;
	padding-right: 10px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}

@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

/*-----------------------------------------------------   Header  ------------ */
/* Start Header Top*/
.header {
	width: 100%;
	background-color: var(--white)
}

.header .container {
	position: relative;
	display: flex;
	align-items: center
}

.header-2 .header-top {
	font-weight: 300;
	font-size: 1.4rem;
	background-color: #f8f8f8;
}

.header-left,
.header-center,
.header-right {
	display: flex;
	align-items: center
}

.header-right {
	margin-left: auto;
	align-self: stretch
}

.header-center {
	margin-left: auto;
	margin-right: auto
}

.logo {
	display: block;
	margin-top: 2.55rem;
	margin-bottom: 2.95rem;
	flex-shrink: 0;
	min-height: 25px
}

.logo img {
	display: block;
	max-width: 100%;
	height: auto;
	width: 45%;
}

.header-top {
	font-weight: 300;
	font-size: 1.3rem;
	line-height: 1.5;
	letter-spacing: 0;
	color: #777;
	margin-bottom: .1rem
}

.header-top a {
	color: inherit;
}

.header-top a:hover,
.header-top a:focus {
	color: var(--lightyellow)
}

.header-top .container {
	position: relative
}

.header-right a:hover,
.header-right a:focus {
	color: #c96
}

.header-middle {
	border-bottom: .1rem solid #f4f4f4
}

.header-middle .menu>li>a {
	letter-spacing: .01em
}

.header-top {
	font-weight: 300;
	font-size: 1.4rem;
	background-color: #f8f8f8;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* End Header Top */

/* Start Middle Header */
.input-search {
	display: flex;

}

.input-search>button {
	background-color: var(--white);
	width: 45px;
	cursor: pointer;
	border: 0.5px solid gray;
	border-left: 0px;
}

.form-control,
.form-control input:focus {
	width: 404px;
	height: 50px;
	position: relative;
	display: flex;
	align-items: center;
	align-content: center;
	border: 0.5px solid gray;
	border-right: 0px;
	padding-left: 10px;
}

.header-setting>div {
	display: flex;
	align-content: space-between;
}

.account,
.wishlist,
.cart {
	font-size: 3rem;
	color: var(--gray);
	line-height: 1;
	text-align: center;
	padding-right: 15px;
	cursor: pointer;
}

.cart-count {
	position: absolute;
	top: 0;
	right: -0.3rem;
}

.cart-count,
.wishlist-count {
	min-width: 1.6rem;
	height: 1.6rem;
	background-color: var(--green);
}

span.count-wishlist {
	position: absolute;
	top: 16px;
	right: 75px;
	background-color: var(--green);
	border-radius: 50%;
	width: 19px;
	height: 20px;
	color: var(--white);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

span.count-cart {
	position: absolute;
	top: 16px;
	right: 15px;
	background-color: var(--green);
	border-radius: 50%;
	width: 19px;
	height: 20px;
	color: var(--white);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

/* End Middle Header */
/* Start Header Nav Bar */
.navbar {
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: static;
	top: auto;
	transition: all ease-in-out .5s;
	color: var(--dark);
	-webkit-transition: all ease-in-out .5s;
	-moz-transition: all ease-in-out .5s;
	-ms-transition: all ease-in-out .5s;
	-o-transition: all ease-in-out .5s;
}

.navlist {
	display: flex;
	padding-left: 20px;
	margin-left: 60px;
}

.menubar {
	color: var(--dark);
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 10px 0px;
	font-weight: 600;
	cursor: pointer;

}

.menubar span {
	color: var(--dark);
	display: flex;
	justify-content: center;
	text-align: center;
	padding-left: 0px;
	padding-right: 10px;
	font-weight: 600;
	cursor: pointer;
}

.navlist a {
	color: var(--dark);
	font-weight: 600;
	padding: 10px 15px;
	font-size: 1.4rem;
	letter-spacing: -.01em;
	text-transform: none;

}

.header-right .head-right {
	color: var(--dark);
	display: flex;
	padding: 10px 0px;
	font-weight: 600;
}

.head-right span {
	padding-left: 10px;
	padding-right: 10px;
	color: var(--gray);
	font-weight: 600;
}

.navlist .focus {
	color: var(--orange);
}

a:hover,
.menubar span:hover,
#menu:hover,
box-icon:hover,
.navlist li:hover {
	color: var(--orange);
	transform: scale(1.1);

	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
}

.navlist li:hover,
.navlist li:first-child {
	border-bottom: 1px solid var(--orange);
}

/* Sticky navbar when reach scroll to 60px */
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.sticky+pre {
	padding-top: 60px;
}

/* End Header Nav Bar */